<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="content">
        <form action="#" wicket:id="filterForm" class="organization_picker_form">
            <table class="tbColor">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        <wicket:message key="code"/>
                    </th>
                    <th>
                        <wicket:message key="name"/>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td class="filter-td"></td>
                    <td class="filter-td">
                        <input type="text" wicket:id="codeFilter"/>
                    </td>
                    <td class="filter-td" style="width: 300px">
                        <input type="text" wicket:id="nameFilter"/>
                    </td>
                    <td class="filter-td">
                        <div style="width: 150px;">
                            <input wicket:id="find" type="submit" wicket:message="value:find" class="btnSmall"/>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody wicket:id="radioGroup">
                <tr wicket:id="data">
                    <td>
                        <input type="radio" wicket:id="radio"/>
                    </td>
                    <td>
                        <div wicket:id="code"></div>
                    </td>
                    <td colspan="2">
                        <div wicket:id="name" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 450px;">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div wicket:id="navigator"></div>
    </div>
</wicket:panel>