<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="container">
        <div wicket:id="check_group">
            <table class="tbColor">
                <tr>
                    <th style="width: 20px"></th>
                    <th><wicket:message key="organization_select"/></th>
                </tr>
                <tr wicket:id="list_view">
                    <td><input type="checkbox" wicket:id="check"/></td>
                    <td><span wicket:id="name"></span></td>
                </tr>
            </table>
        </div>

        <div>
            <a wicket:id="add"><wicket:message key="add"/></a>
            <a wicket:id="delete"><wicket:message key="delete"/></a>
        </div>
    </div>

    <div wicket:id="organization_select"></div>
</wicket:panel>