<?xml version="1.0" encoding="UTF-8" ?>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <table class="tbForm">
        <tr>
            <th><wicket:message key="last_name"/><b class="blue">*</b>:</th>
            <td><div wicket:id="last_name"></div></td>
        </tr>
        <tr>
            <th><wicket:message key="first_name"/><b class="blue">*</b>:</th>
            <td><div wicket:id="first_name"></div></td>
        </tr>
        <tr>
            <th><wicket:message key="middle_name"/><b class="blue">*</b>:</th>
            <td><div wicket:id="middle_name"></div></td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>