<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="content">
        <form action="#" wicket:id="filterForm" class="organization_picker_form">
            <table class="tbColor">
                <thead>
                <tr>
                    <th><wicket:message key="code"/></th>
                    <th><wicket:message key="name"/></th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" wicket:id="codeFilter"/></td>
                    <td><input type="text" wicket:id="nameFilter" style="width: 300px"/></td>
                    <td>
                        <div style="width: 150px;">
                            <input wicket:id="find" type="submit" wicket:message="value:find" class="btnSmall"/>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr wicket:id="dataView">
                    <td><div wicket:id="code"></div></td>
                    <td>
                        <div wicket:id="name" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 300px;"></div>
                    </td>
                    <td>
                        <a wicket:id="select"><wicket:message key="select"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div wicket:id="navigator"></div>
    </div>
</wicket:panel>