<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <form wicket:id="form" class="tbForm">
        <table class="tbColor">
            <thead>
            <tr>
                <th></th>
                <th><wicket:message key="code"/></th>
                <th><wicket:message key="district_name"/></th>
                <th><input type="button" wicket:id="filter" class="btnSmall" wicket:message="value:find"/></th>
            </tr>
            <tr>
                <th></th>
                <th><input type="text" wicket:id="code"/></th>
                <th colspan="2"><input type="text" wicket:id="name"/></th>
            </tr>
            </thead>

            <tbody wicket:id="check_group">
            <tr wicket:id="data_view">
                <td><input type="checkbox" wicket:id="check"/></td>
                <td><span wicket:id="code"></span></td>
                <td colspan="2"><span wicket:id="name"></span></td>
            </tr>
            </tbody>
        </table>

        <div wicket:id="navigator"></div>
    </form>
</wicket:panel>