<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <div wicket:id="search_component" style="margin-right: 5px"></div>
            </td>
            <td wicket:id="districtContainer">
                <table>
                    <tr><td align="center"><span wicket:id="districtLabel"></span></td></tr>
                    <tr><td><input type="text" wicket:id="district" style="margin-right: 5px"/></td></tr>
                </table>
            </td>
            <td wicket:id="streetContainer">
                <table>
                    <tr>
                        <td align="center"><span wicket:id="streetTypeLabel"></span></td>
                        <td align="center"><span wicket:id="streetLabel"></span></td>
                    </tr>
                    <tr>
                        <td><select wicket:id="streetType"></select></td>
                        <td><input type="text" wicket:id="street"/></td>
                    </tr>
                </table>
            </td>

            <wicket:container wicket:id="buildingContainer">
                <td>
                    <table>
                        <tr><td align="center"><span wicket:id="buildingLabel"></span></td></tr>
                        <tr><td><input wicket:id="building" type="text" style="margin-right: 5px" size="5"/></td></tr>
                    </table>
                </td>
            </wicket:container>
            <wicket:container wicket:id="buildingCorpContainer">
                <td>
                    <table>
                        <tr><td align="center"><wicket:message key="buildingCorpLabel"/></td></tr>
                        <tr><td><input wicket:id="buildingCorp" type="text" style="margin-right: 5px" size="5"/></td></tr>
                    </table>
                </td>
            </wicket:container>
            <wicket:container wicket:id="apartmentContainer">
                <td>
                    <table>
                        <tr><td align="center"><span wicket:id="apartmentLabel"></span></td></tr>
                        <tr><td><input wicket:id="apartment" type="text" style="margin-right: 5px" size="5"/></td></tr>
                    </table>
                </td>
            </wicket:container>
            <wicket:container wicket:id="roomContainer">
                <td>
                    <table>
                        <tr><td align="center"><span wicket:id="roomLabel"></span></td></tr>
                        <tr><td><input wicket:id="room" type="text" style="margin-right: 5px" size="5"/></td></tr>
                    </table>
                </td>
            </wicket:container>
        </tr>
    </table>
</wicket:panel>
</body>
</html>
