<config>
    <property name="org.glassfish.ejb.embedded.glassfish.installation.root"
              value="C:\\java\\org.complitex\\complitex\\complitex-dictionary\\src\\test\\glassfish">
    </property>
    <!--property name="org.glassfish.ejb.embedded.glassfish.installation.root"
              value="complitex-dictionary/src/test/glassfish">
    </property-->
    <property name="javax.ejb.embeddable.modules">
        <collection itemsType="java.io.File">
            <item>complitex-dictionary/target/classes</item>
            <item>complitex-dictionary/target/test-classes</item>
        </collection>
    </property>
</config>