<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <title></title>
    </head>
    <body>
        <wicket:panel>
            <div>
                <table>
                    <tr>
                        <td valign="top">
                            <wicket:message key="permissions"/>
                        </td>
                        <td>
                            <select wicket:id="subjects" multiple="multiple" size="5">
                                <option></option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </wicket:panel>
    </body>
</html>
